/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  max-width: 880px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  background: #5e3602;
}
.containter {
  display: flex;
  max-width: 600px;
  font-size: 1.6rem;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
header nav a {
  display: flex;
  text-decoration: none;
  color: forestgreen;
  font-size: 1.6rem;
  margin-left: 4%;
}
header nav a:hover {
  text-decoration: none;
  color: red;
}
.intro {
  background: ghostwhite;
  padding: 50px 20px;
  margin: 20px 0;
}
.intro h1 {
  font-size: 2.4rem;
  margin: 2% 0;
  color: forestgreen;
}
.intro p:first-child {
  font-size: 1.2rem;
  border-top: 1px solid grey;
  padding: 20px 0;
  margin: 20px 0;
}
.intro p:first-child .btn {
  padding: 1%;
  background: grey;
  color: white;
  border-radius: 5px;
}
p {
  color: red;
}
.about-me {
  display: flex;
  justify-content: space-between;
}
.about-me h2,
.about-me h3 {
  color: forestgreen;
  font-size: 1.8rem;
}
.about-me .listen {
  display: block;
  width: 48%;
}
.about-me .skills {
  display: block;
  width: 50%;
  text-align: left;
}
.about-me TABLE {
  width: 100%;
  background: #FFE5B4;
}
.about-me td {
  border: 1px solid;
  padding: 2%;
}
.history {
  width: 100%;
}
.history table {
  background: lightgrey;
  width: 100%;
  align-content: space-around;
}
.history td {
  border-top: 1px solid;
  border-bottom: 1px solid;
  height: 50px;
  justify-content: space-around;
}
.history tr:first-child {
  background: white;
  height: 50px;
}
.history tr:nth-child(3) {
  background: white;
}
footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
  background: grey;
  margin-top: 40px;
}
